.error {
  display: inline-block;
  margin: auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: solid 1px color(error-border);
  background-color: color(error-background);

  &--geocoding {
    margin-top: 10px;
    padding: 3px 6px;
    position: absolute;
    top: 100%;
    z-index: 99999;
  }

  @mixin box-arrow($width, $color) {
    content: '';
    position: absolute;

    left: 50%;
    bottom: 100%;

    width: 0;
    height: 0;

    border-style: solid;
    border-width: $width;
    border-color: transparent transparent $color  transparent;

    transform: translateX(-$width);
  }

  // background part of arrow
  &--arrow:after {
    @include box-arrow(10px, color(error-background));
  }

  // border part of arrow
  &--arrow:before {
    @include box-arrow(11px, color(error-border));
  }

  &__message {
    color: color(error-text);

    &--geocoding {
      white-space: nowrap;
    }
  }

  &__dismissBtn {
    background-color: transparent;
    border: solid 1px color(error-text);
    border-radius: 10px;
    padding: 0 3px;
    color: color(error-text);
    cursor: pointer;
  }
}