.search {
  margin: 30px 0;

  font-size: 18px;
  font-weight: 300;

  position: relative;

  display: inline-block;


  &:hover,
  &:focus-within {
    outline: solid 1px lightgray;
  }

  &__text-input {
    max-width: 80%;
    min-width: $location-input-min-width;
    height: $location-input-height;
    border: none;
    padding-left: 15px;
    font: inherit;
  }

  &__btn {
    height: $location-input-height;
    width: $location-input-height;

    background-color: color(background-primary);
    color: gray;
    border: none;
    font: inherit;

    transition: all 0.2s;

    &:hover {
      background-color: tomato;
      color: black;
    }
  }

  &__loading-indicator {
    position: absolute;
    top: 0;
    right: 100%;
    height: $location-input-height;
    z-index: 999;

    animation: spin 1s linear infinite;
  }
}