/*------------------------------------*\
  #SECTION- variables
\*------------------------------------*/
@import "./__variables.scss";

/*------------------------------------*\
  #SECTION- functions
\*------------------------------------*/

@import "./other/__functions.scss";

/*------------------------------------*\
  #SECTION- reset / changing defoults
\*------------------------------------*/

@import "./other/__resets.scss";

/*------------------------------------*\
  #SECTION- colors
\*------------------------------------*/
@import "./other/__colors.scss";

/*------------------------------------*\
  #SECTION- algolia places
\*------------------------------------*/
@import "./pageParts/__algolia.scss";

/*------------------------------------*\
  #SECTION- generic
\*------------------------------------*/
@import "./other/__generic.scss";
@import "./other/__global.scss";

/*------------------------------------*\
  #SECTION- weather app
\*------------------------------------*/
@import "./pageParts/__mainContainer.scss";
@import "./pageParts/__search.scss";
@import "./pageParts/__tempUnitChange.scss";
@import "./pageParts/__currentWeather.scss";
@import "./pageParts/__weatherForecast.scss";
@import "./pageParts/__chart.scss";
@import "./pageParts/_background.scss";

/*------------------------------------*\
  #SECTION- error
\*------------------------------------*/
@import "./pageParts/__error.scss";

/*------------------------------------*\
  #SECTION- media quaries
\*------------------------------------*/
@import "./mediaQueries/__wide.scss";
@import "./mediaQueries/__medium.scss";
@import "./mediaQueries/__narrow.scss";

/*------------------------------------*\
  #SECTION- animations
\*------------------------------------*/
@import "./animations/__spin.scss";
@import "./animations/__forBackground.scss";