$colors: (
    primary: rgb(31, 51, 83),
    secondary: rgb(252, 220, 0),

    background-primary: white,
    background-secondary: rgba(255,255,255,0.9),
    background-shadow: rgba(255, 255, 255, 0.5),

    active: rgba(255, 166, 0, 0.8),

    line: rgb(235, 235, 235),

  error-border: rgb(255, 202, 57),
  error-background: rgb(255, 244, 214),
  error-text: rgb(199, 146, 0),
);